"BasedOnStyle" : "LLVM"
"UseTab" : "Never"
"IndentWidth" : 4
"BreakBeforeBraces" : "Allman"
"AllowShortIfStatementsOnASingleLine" : "false"
"IndentCaseLabels" : "false"
"ColumnLimit" : 0
"PointerAlignment" : "Right"
"AccessModifierOffset" : -4 
"AllowShortLoopsOnASingleLine" : "false"
"AllowShortFunctionsOnASingleLine" : "false"
"MaxEmptyLinesToKeep" : 2
"AlwaysBreakTemplateDeclarations" : "true"
"Standard" : "Auto"
"BreakConstructorInitializersBeforeComma" : "true"
"AllowAllParametersOfDeclarationOnNextLine" : "false"
"BinPackParameters" : "false"
